.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 80px auto;
    width: 500px;
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: none;
}
button {
    width: 100%;
}
